/OneDrive/Documentos/CRUD/Crudcs3/nbproject/private/
/OneDrive/Documentos/CRUD/Crudcs3/build/
/OneDrive/Documentos/CRUD/PaginaWebFinal/nbproject/private/
/OneDrive/Documentos/CRUD/PaginaWebFinal/build/
/OneDrive/Documentos/CRUD/PaginaWebFinal/dist/
node_modules
